@import "~jspsych/css/jspsych.css";
@import "../node_modules/bootstrap/scss/bootstrap";

.jspsych-display-element {
  background-color: #ffffff;
}

.jspsych-content {
  max-width: 1500px;
}

.maze-display {
  margin: auto;
  #status {
    font-size: 25px;
    padding-bottom: 100px;
  }
  #feedback {
    font-size: 35px;
    margin: auto;
  }
}

@import "kid";
